{% extends "base.html" %}
{% block title %}
    Создание рецепта
{% endblock %}
{% block content %}
    {%  load static %}

    <link rel="stylesheet" href="{% static "pages/form.css" %}">
    <script src="{% static 'js/utils/debouncing.js' %}"></script>
    <script src="{% static 'formRecipe.js' %}"></script>
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Создание рецепта</h1>
    </div>
    <<div class="form-container">

                <form class="form" method="post" action="{% url 'new_recipe' %}">


                            {% csrf_token %}

                            {% for field in form %}

                                {% include 'forms_body_cycle.html' %}

                            {% endfor %}

                            <div class="form__field-group">
                            <button class="button button_style_blue">
                                Создать рецепт
                            </button>
                            </div>


                </form>
    </div>


</main>
{% endblock content %}
